body {
  padding: 0px;
  margin: 0px;
}

#navbar {
  background-color: #2c2c2c;
  color: #858585;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navbar .navbar-nar a {
  color: white;
}
#navbar #mono {
  color: white;
}
#navbar #web {
  color: #858585;
}
#navbar #navleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navbar #navleft #ssnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 300px;
}
#navbar #navleft .monoweb {
  margin-left: 5px;
}
#navbar #navleft .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-spacing: 3px;
}
#navbar #navleft p {
  font-size: 14px;
}
#navbar #rsnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
}
#navbar #rsnav #mainmenu {
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 15px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}
#navbar #rsnav #mainmenu a {
  color: white;
  text-decoration: none;
}
#navbar #rsnav #searchhello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navbar #rsnav #searchhello .hello {
  font-size: 14px;
  height: 30px;
}
#navbar #rsnav #searchhello .search {
  width: 69px;
  height: 30px;
  background-color: #363636;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#side {
  height: auto;
  width: 200px;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#side .bottom {
  margin-top: 350%;
}
#side i {
  text-decoration: none;
}
#side .sidemenu {
  width: 200px;
  height: 100px;
  display: table;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f6f6f6;
  text-align: center;
  margin-top: 20px;
}

#centermenu {
  width: 100vw;
  background-color: #f3f3f3;
}

#mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
#mainpage #divcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#mainpage #divcards #cards {
  margin: 2%;
  color: white;
  padding: 2%;
  border-radius: 25px;
  min-width: 250px;
  max-width: 310px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#mainpage #divcards #cards .firstsectioncards {
  max-width: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainpage #divcards #cards .firstsectioncards .moneysection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}
#mainpage #divcards #cards .firstsectioncards .moneysection h2 {
  padding-top: 4px;
  font-size: 14px;
  color: #cccccc;
  padding-top: 5px;
}
#mainpage #divcards #cards .firstsectioncards .moneysection p {
  font-size: 18px;
  color: white;
}
#mainpage #divcards #cards .secondsectioncards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#mainpage #divcards #cards .secondsectioncards p {
  font-size: 18px;
  word-spacing: 15px;
}
#mainpage #divcards #cards .thirdsectioncards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#mainpage #maininfo {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#mainpage #statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainpage #statistic #statbott {
  min-width: 300px;
  min-height: 500px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  margin: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#mainpage #statistic #statbott .doughnut-wrapper {
  margin-left: auto;
  margin-right: 0;
  width: 250px;
  height: 250px;
}
#mainpage #statistic #statbott .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
#mainpage #statistic #statbott .categories .category {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}
#mainpage #statistic #statbott .left_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4%;
  height: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#mainpage #statistic #statbott .left_top .date_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}
#mainpage #statistic #stattop {
  min-width: 300px;
  min-height: 500px;
  height: 600;
  background-color: white;
  border-radius: 20px;
  margin: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#mainpage #statistic #stattop .left_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4%;
  height: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#mainpage #statistic #stattop .left_top .date_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}
#mainpage #statistic #stattop .balance {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#mainpage #transactions {
  min-width: 300px;
  max-width: 750px;
  height: 1090px;
  background-color: white;
  border-radius: 20px;
  margin: 45px 0px 45px 45px;
}
#mainpage #transactions .toptransactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #f2f2f2;
}
#mainpage #transactions .toptransactions .transactions_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
#mainpage #transactions .date {
  margin: 4%;
}
#mainpage #transactions .date p {
  font-size: 14px;
  color: grey;
}
#mainpage #transactions .date .tran_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
#mainpage #transactions .date .tran_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 50px;
}
#mainpage #transactions .date .money_tran {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainpage #transactions .date .tran_currency {
  color: grey;
  font-size: 14px;
}
#mainpage #transactions .date .tran_numbers {
  color: black;
  font-weight: bold;
  font-size: 14px;
}